header{
    position: absolute;
    top:1.5px;
    left: 4px;
    right:2px;
    width: 99.5%;
    height: 60px;
    background-color: black;
  
}

.logo{float: left;
    width: 200px;
    padding-left:10px;
    color: white;
    font-size: 25px;
    line-height: 60px;
}

header ul{
    float: right;
    line-height: 40px;
}

header ul li{
    float: left;
    list-style: none;
    padding-right: 20px;
    color:white;
    font-size: 18px;
}

main{
    clear: both;
}

.main-container{
    width: 95%;
    margin: 0 auto;
    margin-top: 90px;
}

.left{
    float: left;
    background-color: lightblue;
    width: 70%;
    height: 540px;
    margin-bottom: 40px
    
}

.right{
    float: left;
    background-color: skyblue;
    width: 30%;
    height: 540px;
    margin-bottom: 40px;
    
}



footer{
    clear: left;
    width: 99.5%;
    height: 60px;
    position: fixed;
    bottom:0px;
    right: 3px;
    color:white;
    background-color: black;
    text-align: center;
    line-height: 60px;
}
